.home-page {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: 20px auto;
}

.home-page h1 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #282c34;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Spacing between cards */
}

.movie-list p {
  font-size: 1.1em;
  color: #555;
}