.app-header {
  background-color: #282c34; /* Dark background */
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.app-header .logo {
  font-size: 1.8em;
  font-weight: bold;
}

.app-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.app-header nav ul li {
  margin-left: 20px;
}

.app-header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.app-header nav ul li a:hover {
  color: #61dafb; /* React blue on hover */
}